
body{
    background-color: beige;
}

div{
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

h1{
    text-decoration: underline;
}

p{
    text-align: justify;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 40px;
}

li{
    float: left;
    padding: 10px 12px;
}

li a{
    text-decoration: none;
    color: white;
}

li:hover{
    background-color: beige;
}

li:hover a{
    color: black;
}

.h2{
    text-decoration: underline;
}

.game-info{
    width: 60%;
    margin-bottom: 30px;
}

.refreshbtn{
    margin-top: 20px;
}

.rounds{
    margin-bottom: 40px;
}

.grid{
   border: 1px solid;
   height: 360px;
   width: 420px;
   display: flex;
   flex-wrap: wrap;
}

.molegrid{
    border: 1px solid;
    height: 450px;
    width: 450px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.tictactoegrid{
    border: 1px solid;
    height: 240px;
    width: 240px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 60px;
    width: 60px;
    margin: 0;
    box-sizing: border-box;
}

.molegrid div{
    border: 1px solid;
    height: 150px;
    width: 150px;
    margin: 0;
    box-sizing: border-box;
}

.tictactoegrid div{
    border: 1px solid;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
}

.player-one{
    background-color: blue;
    border-radius: 30px;
}

.player-two{
    background-color: red;
    border-radius: 30px;
}

.mole{
    background-color: brown;
}

.x{
    background-color: black;
}

.o{
    background-color: white;
    border-radius: 40px;
}